html, body {
  height: 100%;
  width: 100%;
  margin: 0%;
}

#root {
  position: relative;
  height: 100%;
  width: 100%;
}

.square {
  position: absolute;
  height: 200px;
  width: 200px;
  background: lightseagreen;
}

.square.top {
  top: 0;
}

.square.bottom {
  bottom: 0;
}

.square.left {
  left: 0;
}

.square.right {
  right: 0;
}
